.middle-banner {
  background-image: url(../../assets/homeImage/parallax-19.jpg);
  /* height: 20vh; */
}

.bg-01 {
  background-image: url(../../assets/Rooms/bg-1.jpg);
  background-size: cover;
  background-position: center;
}
.bg-01 {
  background-image: url(../../assets/Rooms/bg-2.jpg);
  background-size: cover;
  background-position: center;
}

.img-01 {
  background: linear-gradient(
      0deg,
      rgba(30, 18, 25, 0.333),
      rgba(30, 18, 25, 0.333)
    ),
    url(../../assets/Image/shop-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.img-02 {
  background: linear-gradient(
      0deg,
      rgba(30, 18, 25, 0.333),
      rgba(30, 18, 25, 0.333)
    ),
    url(../../assets/Image/shop-5.jpg);
  background-size: cover;
  background-position: center;
}
.img-03 {
  background: linear-gradient(
      0deg,
      rgba(30, 18, 25, 0.333),
      rgba(30, 18, 25, 0.333)
    ),
    url(../../assets/Image/shop-8.jpg);
  background-size: cover;
  background-position: center;
}
.img-04 {
  background: linear-gradient(
      0deg,
      rgba(30, 18, 25, 0.333),
      rgba(30, 18, 25, 0.333)
    ),
    url(../../assets/Image/shop-9.jpg);
  background-size: cover;
  background-position: center;
}
.img-05 {
  background: linear-gradient(
      0deg,
      rgba(30, 18, 25, 0.333),
      rgba(30, 18, 25, 0.333)
    ),
    url(../../assets/Image/post-02.jpg);
  background-size: cover;
  background-position: center;
}
.img-06 {
  background: url(../../assets/Image/post-04.jpg);
  background-size: cover;
  background-position: center;
}
.img-07 {
  background: linear-gradient(
      0deg,
      rgba(30, 18, 25, 0.333),
      rgba(30, 18, 25, 0.333)
    ),
    url(../../assets/Image/post-06.jpg);
  background-size: cover;
  background-position: center;
}

.contactForm-banner {
  background-image: url(../../assets/Image/parallax-3.jpg);
  /* height: 20vh; */
}
.aboutPage-banner {
  background-image: linear-gradient(
      0deg,
      rgba(30, 18, 25, 0.333),
      rgba(30, 18, 25, 0.333)
    ),
    url(../../assets/Image/parallax-10.jpg);
  background-size: cover;
  background-position: center;
  height: 50vh;
}
.aboutPage-MidBanner {
  background-image: linear-gradient(
      0deg,
      rgba(30, 18, 25, 0.333),
      rgba(30, 18, 25, 0.333)
    ),
    url(../../assets/Image/parallax-12.jpg);
  background-size: cover;
  background-position: center;
  height: 50vh;
}
.contactPage-MidBanner {
  background-image: linear-gradient(
      0deg,
      rgba(30, 18, 25, 0.333),
      rgba(30, 18, 25, 0.333)
    ),
    url(../../assets/Image/contact-banner.jpg);
  background-size: cover;
  background-position: center;
  height: 50vh;
}
